:root {
    --primary-color: rgb(10, 32, 30);
    --overlay-color: rgba(93, 115, 101, 0.91);
    --menu-speed: 0.75s;
  }

body{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

 .img1{
    width: 100%;
 }

 /*sticky*/
 .sticky {
  position:fixed;
  top:0;
  width: 100%;
  z-index: 9999;
}

/* :target:before {
  content: '';
  display: block;
  height: 5rem;
  margin-top: -5rem;
}  */

 /*Top NAV*/
 .navbar{
    background-color: var(--primary-color);
    overflow:hidden;
    height:60px;
  }
  
  .navbar .navLink{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
  }
  
  .navbar ul{
    margin:0 0 0 0;
    list-style:none;
    display: flex;
  }

  .navbar li{
    margin-top: -5px;
  }
  
  .navbar .navLink:hover{
    background-color: #8BC34A;
    color: #000;
    text-decoration: solid;
}

  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    visibility: hidden;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  /*icons*/

  .icons .fa{
    padding: 0 15px;
    font-size: 20px;
    color: #ffffff;
  }
  
  .icons .fa-facebook:hover{
    color: #3b5998;
  }
  .icons .fa-youtube-play:hover{
    color: #ff0000;
  }

  .icons .fa-instagram:hover
  {
    color: #F77737;;
  }

  .icons .fa-envelope-o:hover{
    color: #D44638;
  }

  /*About*/
  .about{
    background-color: #f1f1f1;
    padding: 10px 0 0 0;
  }

  .about .heading{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 30px;
    font-weight: 700;
  }

  .about .subHeading{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
    width : 600px;
    padding: 0 0 20px 0;
  }

  /*Videos*/
  .videos{
    background-color: #f1f1f1;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
  }

  .video1 {
    width: 320px;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgb(156 154 154);
    margin: 10px;
}

.video1 .youtubeHeader{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.video1:hover {
  border: 1px solid #0a201e;
} 

/**Youtube Data**/
.youtubeData {
    background-color: #0a201e;
    height: 100px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.youtubeData article{
  padding: 40px 0 0 0;
}

.youtubeData article > p{
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: white;
}

/**Footer**/
.footer{
  text-align: center;
  width: 100%;
  margin: auto 0;
  padding: 5px 0 0 0;
}

.footer p{
  font-family: 'Montserrat', sans-serif;
  color: #00000038;
  
}

/**Rangers**/
.rangersMain{
  background-color: #0a201e;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.rangers{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color:white;
  padding:10px 0 0 0;
}

.rangers .aboutImage{
  width:200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
}

/**Contact**/
.ContactMain{
  background-color: #f1f1f1;
}

.Contact{
  padding: 40px 0;
}

.Contact .contactHeader, .contactHeader{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.contactHeader{
  font-size: 2rem;
}

.Contact .ContactSubHeader{
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.logo{
  text-align: center;
  margin: 10px 0 0 0;
}
.logo .contactLogo{
  font-size: 2rem;
  margin: 0 5px 40px 5px;
}

/**Icon**/
.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  margin-top: -40px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

  /**Responsive**/

  @media (max-width: 767px){
        
    .menu-wrap .menu > div {
        height: 500vw !important;
    }
    .menu-wrap .menu > div > div > ul > li {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .menu-wrap .menu > div {
        width: 250vw;
    }

    .menu-wrap .hamburger > div {
        visibility: visible;
    }
    .navbar-navlist{visibility:hidden}

    .menu-wrap .hamburger {
        visibility: visible;
    }
    
    .icons{
      top: 0;
      right: 0;
      position: absolute;
      line-height: 65px;
    }

    .icons .fa{
      font-size: 15px;
    }

    .menu-wrap .toggler {
        visibility: visible;
    }

    .about .heading{
      font-size: 20px;
    }

    .about .subHeading{
      width: 100%;
      text-align: justify;
      padding: 10px 10px 20px 10px;
    }

    .youtubeData {
      height: 100%;
    }
    
    .youtubeData article{
      padding: 15px 0 0 0;
    }
    
    .youtubeData article > p{
      font-size: 1rem;
      font-weight: 700;
    }

    .Contact{
      padding: 30px 0;
    }

    .Contact .contactHeader{
      font-size: 1.8rem;
    }

    .contactHeader{
      font-size: 1.3rem;
    }
    
    
    .Contact .ContactSubHeader{
      font-size: 1rem;
    }
}
  